<div class="row">
  
  <div class="col-md-9"></div>
  <div class="col-md-3">
    {{#if isLogined}}
    Welcome, {{username}} &nbsp<i class="fas fa-lock-open" onclick="location.href='/auth/logout'"></i>
    {{else}}
Easy Sign up, Easy Use. &nbsp<i class="fas fa-lock" data-target="#login" data-toggle="modal"></i></div>{{/if}}
</div>
<div id="container"class="container">
    <div class="col-md-12 text-center">
        <h1><strong>Dairy, DDD :)</strong></h1>
    </div>
    <div id="todos"class="border rounded-pill">
        <a id="add" href="#"><i class="far fa-plus-square" data-target="#newtodo" data-toggle="modal"></i></a>
        {{#each todoList}}<span class="todos border rounded-pill" onclick="location.href='/{{this}}'">{{this}}</span>{{/each}}
    </div>
    <div class="row">
            <input id="enter-task" placeholder="Add your Dream :)"type="text" /><button id="task" type="button" class="btn btn-dark">Add</button>
    </div>
    <br>
    <div class="row">
        
        <div class="col-md-3 text-center box border rounded-top" name="task" id="tasklist">
            <h4>Dream bag</h4>
            {{#each taskList}}<p class='task border rounded text-left'>{{this}} <ion-icon name='checkmark' class='check'></ion-icon> <ion-icon name='trash' class="trash"></ion-icon></p>{{/each}}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 text-center box border rounded-top" name="progress" id="progresslist">
            <h4>Daily specials</h4>
            {{#each progressList}}<p class='task border rounded text-left'>{{this}} <ion-icon name='checkmark' class='check'></ion-icon> <ion-icon name='trash' class="trash"></ion-icon></p>{{/each}}
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 text-center box border rounded-top" name="complate" id="donelist">
            <h4>Dobby is free</h4>
            {{#each doneList}}<p class='task border rounded text-left'>{{this}} <ion-icon name='checkmark' class='check'></ion-icon> <ion-icon name='trash' class="trash"></ion-icon></p>{{/each}}
        </div>
    </div>
</div>

<!-- The New ToDo Modal -->
<div class="modal modal-center fade" id="newtodo">
  <div class="modal-dialog modal-center">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header text-center">
        <h4 class="modal-title">&nbsp&nbsp&nbsp&nbsp&nbspNew DDD</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <input id="newName" placeholder="ex) To study, Travel" />
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" id="newlist" class="btn btn-outline-info" >Create</button>
        <button type="button" class="btn btn-outline-info">Back</button>
      </div>

    </div>
  </div>
</div>

<!-- Login Modal -->
<div class="modal modal-center fade" id="login">
  <div class="modal-dialog modal-center">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header text-center">
        <h4 class="modal-title">Login</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <input id="login_username" placeholder="username" /><br><br>
        <input id="login_password" placeholder="password" type="password"/>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" id="login_button" class="btn btn-outline-info" >Login</button>
        <button type="button" id="login_register_button" data-target="#register" data-toggle="modal" class="btn btn-outline-info" >Register</button>
      </div>

    </div>
  </div>
</div>


<!-- Register Modal -->
<div class="modal modal-center fade" id="register">
  <div class="modal-dialog modal-center">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header text-center">
        <h4 class="modal-title">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <input id="register_username" placeholder="username" /><br><br>
        <input id="register_password" placeholder="password" type="password"/>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" id="register_button" class="btn btn-outline-info" >Register</button>
      </div>

    </div>
  </div>
</div>
